<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2000">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="media/1.jpg" alt="first image">
      <div class="carousel-caption-shadow">
        <h3>Automóviles de alquiler</h3>
        <p>Descubra nuestra flota de automóviles de alquiler.</p>
      </div>
    </div>
    <div class="item">
      <img src="media/2.jpg" alt="second image">
      <div class="carousel-caption-shadow">
        <h3>Second image</h3>
        <p>Decorative description.</p>
      </div>
    </div>
    <div class="item">
      <img src="media/3.jpg" alt="third image">
      <div class="carousel-caption-shadow">
        <h3>Third image</h3>
        <p>Decorative description.</p>
      </div>
    </div>
  </div>
</div>
