<section>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="panel-body" id="carousel-holder">
        <!-- holder for carousel template -->
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default reserva">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="glyphicon glyphicon-time"></span> Reservar ahora</h3>
        </div>
        <div class="panel-body" id="reserva-holder">
          <!-- holder for reserva form template -->
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="panel panel-default reserva">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span class="glyphicon glyphicon-globe"></span> La compañía líder
            del mercado
          </h3>
        </div>
        <div class="panel-body">
          Con más de 783 proveedores en 167 países, tenga por seguro que
          encontrará el coche adecuado en el lugar adecuado, al precio adecuado.
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="panel panel-default reserva">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span class="glyphicon glyphicon-calendar"></span> Gestione su reserva online
          </h3>
        </div>
        <div class="panel-body">
          Cancele o modifique su reserva de forma rápida y sencilla a
          través de nuestra página web.
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="panel panel-default reserva">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span class="glyphicon glyphicon-star"></span> Valorados por nuestros clientes
          </h3>
        </div>
        <div class="panel-body">
          Solicitamos a todos nuestros clientes que hagan una valoración de la
          compañía de coches utilizada. Compruebe las opiniones de otros
          clientes para tomar la decisión correcta en su próxima reserva.
        </div>
      </div>
    </div>
  </div>
</section>
