<section>
  <form class="form-vertical" id="reserva" method="post" onsubmit="">
    <div class="form-group">
      <label for="place">Lugar de recogida</label>
      <input type="text" name="place" id="place" value="" placeholder="ej: Ciudad o aeropuerto" class="form-control">
    </div>
    <div class="form-group">
      <label for="dateFirst">Fecha de recogida</label>
      <input type="date" name="dateFirst" id="dateFirst" value="" class="form-control">
    </div>
    <div class="form-group">
      <label for="dateLast">Fecha de devolucion</label>
      <input type="date" name="dateLast" id="dateLast" value="" class="form-control">
    </div>
    <div class="form-group">
      <input type="checkbox" name="youngDriver" id="youngDriver" checked value="1">
      <label for="youngDriver">Conductor entre 30 y 65 años</label>
    </div>
    <div class="form-group">
      <input type="submit" value="Reservar" class="btn btn-primary pull-right">
    </div>
  </form>
</section>
